body {
    background-color: #f1f1f1
}


img {
    width: 190px;
}


div {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 30px;
    font-family: Verdana;
    color: rgb(113, 109, 109);
    border: 5px rgb(113, 109, 109) solid;
    padding: 10px;
}

h2 {
    font-size: 24px;
    font-family: Verdana;
    color:rgb(148, 146, 146);
    margin: 40px;
}

h3 {
    font-size: 24px;
    font-family: Verdana;
    color:  rgb(148, 146, 146);
    border-top: 3px rgb(148, 146, 146) solid;
    border-bottom: 3px rgb(148, 146, 146) solid;
    padding: 10px;
}

p {
    font-size: 20px;
    font-family: Verdana;
    line-height: 35px;
    color: rgb(148, 146, 146);
    text-align: justify;
    margin-bottom: 55px;
}

span {
    font-weight: bold;
}

a {
    font-size: 19px;
    font-family: Verdana;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(5, 211, 5);
    color: #ffffff;
    border-radius: 100px;
    padding: 10px 15px;

}
